{
  "weixin": {
    "appId": "your app id",
    "appSecret": "your app secret",
    "templateMessageId": "SU5mIWGfhdeO9BMzNbnpeCnXg_i7lZOcFx5QsMhBI1M",
    "receivers": [
      "the recevier openid"
    ]
  }
}
